<!DOCTYPE html>
<html>
<head>
    <title>Student App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Student Record</h1>
    <form action="/add" method="POST">
        <label for="text">Name:</label><input type="text" name="name" required>
        <label for="age">Age:</label><input type="number" name="age" required>
        <br>
        <button type="submit">Add Student</button>
    </form>

    <h2>All Students:</h2>
    <ul>
        {% for student in students %}
            <li>
                {{ loop.index }} - {{ student.name }} - {{ student.age }} - {{student.Date}}
                <a href="/delete/{{ student.id }}" >Delete</a>
                <a href="/update{{ student.id }}" >Update</a>
            </li>
        {% endfor %}
    </ul>
    </div>
</body>
</html>
